#divPayment {
    min-height: calc(100vh - 150px);
  }

.paymentForm input{
    background-color: #3d4245;
    width: 95%;
    border: none;
    border-radius: 6.4px !important;
    padding: 1rem;
    color: #fff;
}
.paymentForm,
.confirmationForm{
    display: flex;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    flex-direction: column;
    gap: 20px;
}
.confirmationForm{
    height: 450px;
    gap: 0px;
    align-items: center;
    justify-content: space-between;
}
label{
    color: #fff;
    font-size: 1rem;
}
.confirmButton{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #96a825;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    border-radius: 24px;
    width: 142px;
    height: 48px;
}   