a,p,h1,h2,h3,ul,li{
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav {
    background-color: black;
    height: 150px;
    color: white;
    padding: 10px 100px;
    text-align: center;
  }

  nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
  }

  nav a:hover {
    background-color: #555;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
  }
  .rounded-box {
    width: 48px;
    height: 48px;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
  }
  .rounded-box.active {
    border: 2px solid #96a825;
  }